<div modal="chopin" class="chopin-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 22">
                <text class="svg-txt chopin" x="11" y="13">
                  chopin
                  <tspan class="institute" x="37" y="21">institute</tspan>
                </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>


        <div class="row no-gutters top-chopin-margin">
          <div class="col-12 text-right">
            <img class="img-fluid" src="img/chopin/1.jpg" alt="">
          </div>
        </div>

        <div class="overlayed-group">
          <img class="img-responsive chopin-posters" src="img/chopin/plakaty_chopin.gif" alt="">
          <div class="row no-gutters">
            <div class="col-12 py-5 mt-5 px-3">
              <p class="my-0 mx-5 px-1">
                Concept of the new logo for the national institute of Frederic Chopin in Warsaw.
                <br> The sign is simplified variation of initials - combination of "F" (Frederic; fortepiano)
                <br> and the silhouette of the instrument. Use of internal "keyboard" of letter F;
                <br> Round dark shape becomes piano and the shadow of letter in the same time.
              </p>
            </div>
            <div class="col-12 py-5 px-3">
               <img class="img-fluid" src="img/chopin/2.jpg" alt=""> 
            </div>
          </div>
        </div>


        <div class="row no-gutters">
          <div class="col-12 mt-3 text-right">
            <img class="img-fluid" src="img/chopin/3.jpg" alt="">
          </div>
          <div class="col-12 mt-5 pt-2">
            <img class="img-fluid" src="img/chopin/4.jpg" alt="">
          </div>
        </div>


      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>