<div modal="coming-out" class="coming-out-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 14">
                  <text class="svg-txt coming-out" x="1" y="12">
                    coming out
                  </text>              
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>


        <div class="row no-gutters top-coming-out-margin">
          <div class="col-12 text-right">
            <img class="img-fluid" src="img/coming-out/1.jpg" alt="">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 py-5 my-5">
            <p class="my-0 mx-5">
              Coming Out is an exhibition of the youngest graduates of the Academy of 
              <br> Arts in Warsaw - they’ve just abandoned school’s camouflage.
              <br> Participants (sometimes debutants) come out ahead students’ crowd,
              <br> they stop to be invisible.
              <br> The concept is an attempt to visualize this process of emerging in a 
              <br> graphically synthetic way.
            </p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12">
             <img class="img-fluid" src="img/coming-out/2.jpg" alt="">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 pt-5 mt-5 text-right">
             <img class="img-fluid" src="img/coming-out/3.jpg" alt="">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 pt-5 mt-5">
             <img class="img-fluid" src="img/coming-out/4.jpg" alt="">
          </div>
        </div>


        <div class="row no-gutters">
          <div class="col-12 pt-5 mt-5 text-right">
             <img class="img-fluid" src="img/coming-out/5.jpg" alt="">
          </div>
        </div>

        <div class="overlayed-group">
          <img class="img-fluid shirt" src="img/coming-out/shirt.jpg" alt="">
          <div class="row no-gutters">
            <div class="col-12 pt-5 mt-5">
              <img class="img-fluid" src="img/coming-out/6.jpg" alt="">
            </div>
            <div class="col-12 pt-5 mt-5 text-center">
              <img class="img-fluid" src="img/coming-out/05_klik_4_25.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 pt-5 mt-5">
          <video width="400" autoplay muted loop>
            <source src="img/coming-out/coming-out-v1.mp4" type="video/mp4 ">
          </video>
          </div>
        </div>


      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>