<div class="covers-modal" modal="covers">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container bottom-covers-margin">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 11">
                <text class="svg-txt covers" x="6" y="10">
                  covers
                </text>
              </svg>
            </figure>

            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>

        <div class="row top-covers-margin no-gutters">
          <div class="col-10 offset-2">
            <img class="img-fluid mx-2" src="img/covers/1a.jpg" alt="book cover">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-5 offset-1 d-flex align-items-center">
            <p>
              Series of covers for the University of Łódź - each of the 6 faculties<br>publishes its own publications; The task was to create
              a cohesive <br> "family". The part of uni's logo (comma-parallelogram) has become<br>a base element for six different patterns (one
              for each department). <br><br> Each faculty gets also its own color: sociology (orange), political <br> studies (navy blue), geography
              (green), psychology (light <br> blue),philosophy (yellow) and pedagogical (pink).
            </p>
          </div>
          <div class="col-md-6 text-right">
            <img class="img-fluid img-pink" src="img/covers/pink.jpg" alt="book cover">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12">
            <img class="img-fluid" src="img/covers/orange.jpg" alt="book cover">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12">
            <img class="img-fluid mt-3 pt-4 ml-5" src="img/covers/green.jpg" alt="book cover">
          </div>
        </div>

      <div class="row no-gutters">
        <div class="col-12 text-right img-blue">
          <img class="img-fluid mr-5" src="img/covers/blue.jpg" alt="book cover">
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12 final-container">
          <img class="img-fluid" src="img/covers/yellow.jpg" alt="book cover">
        </div>
      </div>





      </div>
    </div>
  </div>
</div>
