<div modal="music-school" class="music-school-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="00 0 100 10">
                <text class="svg-txt music-school" x="4" y="9">
                  music school
                  
                </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>


        <div class="row top-music-school-margin">
          <div class="col-11 offset-1">
            <img class="img-fluid" src="img/music-school/1.jpg" alt="">
            <p class="my-5">
              Visual identity for Group of Music schools
              <br> The first inspiration was the stave; the second one was word "group" - as a group of students, teachers, 
              <br> musicians - people who create the school. The sign is a visual synthesis - rectangles and squares resmeble 
              <br> music notation, electronic sound recording, and simplified human figures.
              <br><br> Visually strong, rhythmic shapes were used to build other elements of visual identity
            </p>
          </div>
        </div>

        <div class="overlayed-group mb-5">
          <img class="img-responsive music-school-posters" src="img/music-school/plakaty_music-school.gif" alt="">
          <div class="row no-gutters">
            <div class="col-12">
              <img class="img-fluid" src="img/music-school/2.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-11 offset-1 mb-5">
            <img class="img-fluid" src="img/music-school/3.jpg" alt="">
          </div>
        </div>


        <div class="row no-gutters">
          <div class="col-12 text-right mb-5">
            <img class="img-fluid" src="img/music-school/4.jpg" alt="">
          </div>
        </div>


        <div class="row no-gutters">
          <div class="col-12">
            <img class="img-fluid" src="img/music-school/5.jpg" alt="">
          </div>
        </div>



      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>