<div modal="nimit" class="nimit-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 21">
                  <text class="svg-txt nimit" x="12" y="20">
                    nimit
                  </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div> 
        <div class="row no-gutters top-nimit-margin">
          <div class="col-12 text-right">
            <img class="img-fluid" src="img/nimit/1.jpg" alt="">
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12 pt-5 mt-5 px-3">
            <p class="my-0 mx-5 px-1">
              Visual identity for National Institute of Music and Dance 
              <br> Music and dance because of the rhythm are inseparably connected. The main inspiration
              <br> during the creation of the logotype was a mutual relationship of these two fields of art.
              <br><br> The Institute's sign is a open composition, based on a squar, built by the letters of the abbreviation:
              <br> N, I, M, I, T. The concept is based on an abstract arrangement of letters I - both are broken into beams
              <br> and dots. A simple esture gave a reference for elements of musical notation. The dots have become a
              <br> symbol of two fields of Institute’s activity-music and dance. The chosen colors - black and white - are
              <br> associated with the music community, they give  classic, elegant and modern feeling.
            </p>
          </div>
            <div class="col-12 pt-5 mt-5">
              <video width="400" muted autoplay loop>
                <source src="img/nimit/anim1.mp4" type="video/mp4 ">
              </video>
            </div>
            <div class="col-12 py-5 mt-5">
              <img class="img-fluid" src="img/nimit/2.jpg" alt=""> 
            </div>
            <div class="col-12 mt-5 text-right">
              <img class="img-fluid" src="img/nimit/3.jpg" alt="">
            </div>
            <div class="col-12 mt-5 pt-5">
              <img class="img-fluid" src="img/nimit/4.jpg" alt="">
            </div>
            <div class="col-12 mt-5 pt-5">
              <img class="img-fluid" src="img/nimit/5.jpg" alt="">
            </div>
            <div class="col-12 pt-5 mt-5">
              <video width="400" muted autoplay loop>
                <source src="img/nimit/anim2.mp4" type="video/mp4 ">
              </video>
            </div>
        </div>



      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>