<div modal="patrimonium" class="patrimonium-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container bottom-patrimonium-margin">
        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10">
                  <text class="svg-txt patrimonium" x="6" y="9">
                    patrimonium
                  </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>


        <div class="row no-gutters top-patrimonium-margin">
          <div class="col-12 text-right">
            <img class="img-fluid" src="img/patrimonium/poster.jpg" alt="poster">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-11 offset-1 py-5 px-3">
            <p class="my-0 mx-5 px-5">
              Logotype and posters for 'patrimonium' program - digitization and
              <br> access to the Polish national heritage from the collections of the
              <br> National Library and the Jagiellonian Library.
            </p>
          </div> 
        </div>

        <div class="row no-gutters">
          <div class="col-12 text-right maps">
             <img toggle-img class="img-fluid" src="img/patrimonium/ritt.jpg" alt="rycina">
             <img toggle-img class="img-fluid" src="img/patrimonium/mapy.jpg" alt="mapa">
          </div>
        </div>

      <div class="row no-gutters">
        <div class="col-12 text-right">
          <img  class="img-fluid" src="img/patrimonium/project-blue.jpg" alt="">
        </div>
      </div>

      <div class="row no-gutters pt-5">
        <div class="col-12 text-left">
          <img class="img-fluid" src="img/patrimonium/poster-visual.jpg" alt="poster">
        </div>
      </div>

      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>