<div modal="selfbrand" class="selfbrand-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container">

        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 12">
                  <text class="svg-txt selfbrand" x="3" y="10">
                    selfbrand
                  </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div> 
        <div class="row no-gutters top-selfbrand-margin">
          <div class="col-12 text-center text-right">
            <img class="img-fluid" src="img/selfbrand/1.jpg" alt="">
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-12 pt-5 mt-5 px-3">
            <p class="my-0 mx-5 px-1">
              My logo is a simple, geometric character, which is a variation of the letter "E" - the first letter of my 
              <br> name. By modifying the central beam, I created a compact, architectural form that refers to the
              <br> areas of my activity (graphic, exhibition and space design). However, this massive, "chipped"
              <br> rectangle is not a static figure. Despite the bold structure, it’s a dynamic form, which various stages
              <br> build the visual language of the entire identity.
            </p>
          </div>
            <div class="col-12 pt-5 mt-5">
              <video width="400" muted autoplay loop>
                <source src="img/selfbrand/anim1.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col-11 text-right mt-5">
              <img class="img-fluid" src="img/selfbrand/2.jpg" alt=""> 
            </div>
            <div class="col-12 mt-5 text-right">
              <img class="img-fluid" src="img/selfbrand/anim2.gif" alt="">
            </div>
        </div>

        <div class="overlayed-group mt-5">
          <img class="img-fluid floater" src="img/selfbrand/3.jpg" alt="">
          <div class="row no-gutters">
            <div class="col-12 text-right">
              <img class="img-fluid" src="img/selfbrand/4.jpg" alt="">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5">
            <img class="img-fluid" src="img/selfbrand/anim3.gif" alt="">
          </div>
        </div>



      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>