<div modal="zz-award" class="zz-award-modal">

  <div class="container">
    <div class="row no-gutters">
      <div class="col-12 main-background-container bottom-zz-award-margin">
        <div fixed-container class="fixed-header">
          <div class="section-head">
            <figure title-svg class="theimage my-0">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 14">
                <text class="svg-txt zz-award" x="8" y="13">
                  zz award

                </text>
              </svg>
            </figure>
            <a href="#" close-modal>
              <img src="img/cross-out.svg" alt="close card">
            </a>
          </div>
        </div>


        <div class="row top-zz-award-margin no-gutters">
          <div class="col-10 offset-2">
            <img class="img-fluid mx-2" src="img/zz-award/zz1.jpg" alt="zz award item">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-11 offset-1 pt-5">
            <p class="my-0">
              Visual identity for the Zbyszek Zawistowski Award - <br> Best Diploma project among young polish architects. <br>
              Logotype, poster, leaflets, pin badge. <br>
              The sign came from a combination of initials (double Z) and metaphorical, first <br> steps to success.
            </p>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 text-right py-5">
            <img class="img-fluid" src="img/zz-award/zz2.jpg" alt="zz award item">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 text-left">
            <img class="img-fluid" src="img/zz-award/zz3.jpg" alt="zz award item">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-12 text-right">
            <img class="img-fluid zz-img-last" src="img/zz-award/zz4.jpg" alt="zz award item">
          </div>
        </div>




      </div>
    </div>
  </div>
@@include('./src/html/partials/behance.html')

</div>