.covers-modal {

  .top-covers-margin {
    margin-top: 50px;
  }
  // .bottom-covers-margin {
  //   margin-bottom: 156px;
  // }
  .img-pink {
    transform: translateY(-13%);
  }
  .img-blue {
    transform: translateY(-9%);
  }
}