.main-background-container {
  background-color: #f8f8f8;
}


video {
  width: 100%;
  height: auto;
}

a.mailto-svg  {
    text-decoration: none;
    & tspan {
      fill: #fff;
      transition: fill .2s;
    }

   &:hover {
      & tspan {
        fill: #000;
      }
   } 
}

.behance-container{
  display: flex;
  justify-content: flex-end;

  .behance-logo{
    width: 70px;
    height: 48px;
  }
}


.animated-container {
  margin: 0;
  font-size: 25px;
  z-index: 1;
  position: relative;

  .intro-text {
    font-family: 'rubik-black', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    text {
      fill: #000;
      font-size: 5px;
    }
  }

  
}

.hover-wrapper {
  position: relative;

  figure {
    position: relative;
    z-index: 5;
  }

    
  .hover-container {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .2s;
    
    &.covers {
      transform: translateY(6%);
    }

    &.zz-award {

      transform: translateY(-23%);

      .zz-award-img {
        width: 83.3%;
      }
    }

    &.patrimonium {
      transform: translateY(-2%);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .patrimonium-img {
        width: 83.3%;
      }
    }

    &.coming-out {
      transform: translateY(-60%);
      text-align: right;
    }

    &.chopin {
      transform: translateY(-77%);

      .chopin-img {
        width: 50%;
        transform: translateX(90%);
      } 
    }

    &.music-school {
      transform: translateY(-70%);

      .music-school-img {
        width: 90%;
      }
    }

    &.nimit {
      transform: translateY(-60%);
      .nimit-img {
        width: 100%;
      }
    }


    &.selfbrand {
      transform: translateY(-86%);
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .selfbrand-img {
        width: 68%;
      }
    }

  }
  
  &:hover {

    & svg {
      a {
        text-decoration: none;
        cursor: pointer;
      }
      text {
        fill: #333;

        &.nimit {
          fill: #fff;
        }
      }
    }

    & .hover-container {
      opacity: 1;
    }
  }
}


body {
  position: relative;
  display: flex;

  p {
    font-size: 12px;
    color: #333;
    line-height: 2;
  }
}

[modal] {
  position: fixed;
  z-index: 100;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: scale(0);
  transition: transform .2s;

  &.open {
      transform: scale(1);
  }
}

[fixed-container] {
    position: sticky;
    z-index: 4;
    left: 0;
    right: 70px;
    width: 100%;
    top: 80px;

    .section-head {
      position: relative;

      [close-modal] {
      
        text-decoration: none;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 15px;
      
      
        img {
          width: 42px;
        }
      }
    }
    
  }

  [toggle-img] {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }


.toggle-img {
  z-index: 2;
  animation: toggler .7s ease-out forwards;
}

  @keyframes toggler {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }


  //modal sections styles



  .final-container {
    position: relative;

    img {
      position: relative;
    }

    &:before {
      content: '';
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      background-color: #fff;
    }
  }